.main-content__description,
.main-content__button,
.menu {
  font-family: "Roboto", sans-serif;
}

.main-content__title {
  font-family: "PT Serif", serif;
}

body {
  margin: 0;
  border: dashed 1px red;
}

.wrapper {
  margin: auto;
  width: 80%;
  border: dashed 1px red;
}

.header,
.main-section,
.logo,
.menu,
.menu__item,
.main-content,
.main-content__title,
.main-content__description,
.main-content__button,
.image-content {
  border: dashed 1px red;
}

.logo,
.menu {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 40px 0;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
}

.menu__item:last-child {
  padding-right: 0;
}
